

body {
  margin: 0;
  background: url('https://i.imgur.com/6ULGVWp.jpg');
  background-size: cover;
  background-attachment: fixed;
  color: #EDFEEB;
  font-family: 'Arimo', sans-serif;
}

html{
  scroll-behavior: smooth;

}

hr{
  border-color: white;
}

.largePic{
  height:300px;
  width:300px;
  margin: 0 auto;
  display:block;
  border: 2px outset white;
}


.contain{
  display: flex;
  height:100vh;
  margin-top: 5px;
}


.sideBarDiv {
  border: 2px outset white;
  background: rgba(0, 0, 0, 0.85);
  position: relative
}

.sidebar{
  width: 25%;
  height:100vh;
  overflow-y: scroll;
  font-size: 1.5em;
  border: 3px solid #EDFEEB;
}

.sidebarLogo{
  width: 50px;
  height: 50px;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -25px;;
}

.selected{
  flex-grow: 1;
  display:flex;
  justify-content: center;
  align-items:center;
  height: 100vh;
  width: 75%
}
.doginfobefore{
  font-size: 4em;
}
.doginfoafter{
  font-size: 3em;

}

.homeInfo{
  font-size: 1.5em;
  color: rgba(237, 254, 235, 0.822);
  text-align: justify;
  padding: 2em;
}

nav{
  margin: 0;
  padding: 0;
  background: linear-gradient(to top, #04286E, #080945);
  color: #EDFEEB;
  font-size: 1.25em;
  width:100%;
}

form input{
  margin: 5px;
}

.navlink{
  color: #EDFEEB;
  margin: 1em;
  text-decoration: none;
  line-height: 50px;
  font-family: 'Lato', sans-serif;
}


.homeContents{
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border: 4px solid white;
  border-radius: 20%;
  background: rgba(0, 0, 0, 0.85);
}


.Login{
  margin: 1em auto;
}
.Signup{
  margin: 1em auto;
}

.title{
  margin: 0px;
  padding: 25px;
  font-weight: bold;
  font-size: 4em;
  text-align: center;
}

.logo {
height: 75px;
width: 85px;
border-radius: 25%;
margin-left: .25em;
}

.userImage{
  width: 750px;
  height: 500px;
}

.dogImage{
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 200px;
  height: 200px;
}

.createdContainer{
  position: relative;
  height: 572px;
  margin: 0 auto;
}

.createSidebar{
  width: 25%;
  height:100vh;
  overflow-y: scroll;
  font-size: 1.5em;
  border: 3px solid #EDFEEB;
}

.titleCreate {
  width: 100%;
  margin: 0 auto;
  font-size: 2.5em;
  text-align:center;
}

.profileForm{
  border: 3px outset white;
  width: 50%;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.85)
}


/****************************** SAVED PICS STYLING **************************************/
.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleFavs {
  border: 2px solid white;
  width: 50%;
  margin: 0 auto;
  background: #04286E;
  border-radius: 10%;
  padding: 1%;
  text-align:center;
}

.imageClass {
  width: 300px;
  height: 200px;
  padding: 2%;
}

.dogName {
  font-size: 2em;
  padding: 2%;
}

.formStyle {
  background: #04286E;
  border: 2px solid white;
  margin: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.deleteButton {
  background: black;
  color: white;
  width: 100%;
  border-radius: 30%;
  align-content: center;
  justify-content: center;
}

/****************************** ADOPT PICS STYLING **************************************/
ul{
  list-style-type: none;
}

.ulStyle {
  background: #04286E;
  border: 2px solid white;
  margin: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
}


.adoptContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/****************************** COMPARE  STYLING **************************************/

.compareNames{
  width:50%;
  padding: 2%;
  margin: 0 auto;
  border: 5px outset white;
  background: rgba(0, 0, 0, 0.85)
}

.compareContainer{
  
}
.adoptTitle{
  text-align: justify;
  width: 50%;
  margin: 0 auto;
  border: 2px outset white;
  background: rgba(0, 0, 0, 0.85);
  padding: 2em;
  border-radius: 20%;
}

