body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('https://i.imgur.com/FLhtex0.png');
  background-size: cover;
  background-attachment: fixed;
  color: black;
}

.largePic{
  height:300px;
  width:300px;
  margin: 0 auto;
  display:block;
}

.full{
  height: 100vh;
}

.container{
  display: flex;
  height:100vh;
}

.sideBarDiv {
  border: 2px solid black;
}

.sidebar{
  width: 25%;
  height:100vh;
  overflow-y: scroll;
  font-size: 2em;
}

.selected{
  flex-grow: 1;
  display:flex;
  justify-content: center;
  align-items:center;
  height: 100vh;
  width: 75%
}
.doginfobefore{
  font-size: 4em;
}
.doginfoafter{
  font-size: 3em;
}

nav{
  margin: 0;
  padding: 0;
  height: 20%;
  background: linear-gradient(to top, #04286E, #080945);
  color: white;
  font-size: 2em;
  
}

.navlink{
  color: white;
  margin: 2.5em;
  text-decoration: none;
  line-height: 50px;
}

.layer{
  background-color: rgba(98, 98, 88, 0.25);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
